<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <title>I Hate School</title>
    <link rel="stylesheet" href="style.css">
    <meta content="I-Hate.School | A Project by Badbird5907" property="og:title">
    <meta content="Website coming soon | Project by Badbird5907" property="og:description">
    <meta content="I Hate School" property="og:site_name">
</head>
<body>
<!-- particles.js container -->
<div id="particles-js">
    <section id>
        <h1>Coming soon!</h1>
        <h2>We all hate school!</h2>
    </section>
    <p class="p" id="hp">Project by <a href="https://badbird5907.net/">Badbird5907</a>, with contributions from <a
                href="https://github.com/Chinay-Domitrix">Chinay</a></p>
</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>
<script>
	/* ---- particles.js config ---- */
	particlesJS("particles-js", {
		"interactivity": {
			"detect_on": "canvas",
			"events": {
				"onclick": {
					"enable": true,
					"mode": "push"
				},
				"onhover": {
					"enable": true,
					"mode": "grab"
				},
				"resize": true
			},
			"modes": {
				"bubble": {
					"distance": 256,
					"size": 64,
					"duration": 2,
					"opacity": 8,
					"speed": 4
				},
				"grab": {
					"distance": 128,
					"line_linked": {
						"opacity": 1
					}
				},
				"push": {
					"particles_nb": 4
				},
				"remove": {
					"particles_nb": 2
				},
				"repulse": {
					"distance": 512,
					"duration": 0.5
				}
			}
		},
		"particles": {
			"line_linked": {
				"enable": true,
				"distance": 256,
				"color": "fff",
				"opacity": 0.5,
				"width": 1
			},
			"move": {
				"enable": true,
				"speed": 4,
				"direction": "none",
				"random": true,
				"straight": false,
				"out_mode": "out",
				"bounce": false,
				"attract": {
					"enable": false,
					"rotateX": 512,
					"rotateY": 1024
				}
			},
			"number": {
				"value": 128,
				"density": {
					"enable": true,
					"value_area": 1024
				}
			},
			"opacity": {
				"value": 1,
				"random": false,
				"anim": {
					"enable": false,
					"speed": 4,
					"opacity_min": 0.125,
					"sync": false
				}
			},
			"shape": {
				"type": "circle",
				"stroke": {
					"width": 2,
					"color": "#fff"
				},
				"polygon": {
					"nb_sides": 8
				},
				"image": {
					"src": "img/github.svg",
					"width": 128,
					"height": 128
				}
			},
			"size": {
				"value": 4,
				"random": true,
				"anim": {
					"enable": false,
					"speed": 16,
					"size_min": 0.125,
					"sync": false
				}
			}
		},
		"retina_detect": true
	});
</script>
</html>